<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FinalProject.mapper.TeacherMapper"> 
<!-- 특정 강사의 전체 수업 이력 가져오기 -->
<select id="getClassHistory" parameterType="int" resultType="TeacherDto">
  SELECT 
    t.teacher_id,
    t.name,
    
    c.start_date,
    c.end_date,
    c.start_time,
    c.end_time,
   
    SELECT COUNT(*)FROM tb_student_class sc WHERE sc.class_id = c.class_id AS studentCount
  FROM tb_teacher t
  LEFT JOIN tb_class c ON t.teacher_id = c.teacher_id
  LEFT JOIN tb_student_class sc ON sc.class_id = c.class_id
  WHERE 
  	t.teacher_id = #{teacherId}
  	AND c.status IN ('START','END') <!-- 진행중, 종강 -->
  GROUP BY 
	t.teacher_id, 
	t.name, 
  	c.start_date, 
	c.end_date, 
	c.start_time, 
	c.end_time, 
	
  ORDER BY c.end_date, c.end_time DESC
</select>
<!-- LEFT JOIN 하게 되면 sc.classid 가 NULL 인 경우 classname 은 NULL -->
<!-- 재직자 목록에 현재 담당 중인 수업만 가져오기 -->
<select id="getTeacherList" parameterType="String" resultType="TeacherDto">
  SELECT 
    t.teacher_id,
    t.name,
    t.birth,
    t.phone,
    t.store_name,
    t.status,
    b.b_name AS statusName,
    LISTAGG(c.class_name, ', ') WITHIN GROUP (ORDER BY c.class_name) AS classNames
  FROM tb_teacher t
  LEFT JOIN tb_class c ON t.class_id = c.class_id AND c.status IN ('READY', 'START') <!-- 모집마감, 진행중 -->
  LEFT JOIN tb_b_code b ON t.status = b.b_code AND b.a_code = 'TEACHER'
  WHERE 
    t.store_name = #{storeName}
    AND t.status = 'WORK' 
   
  GROUP BY
  	t.teacher_id,
    t.name,
    t.birth,
    t.phone,
    t.store_name,
    t.status,
    statusName
  ORDER BY t.name ASC
</select>
<!-- 퇴직자 목록 가져오기 -->
<select id="getQuitTeacherList" parameterType="String" resultType="TeacherDto">
  SELECT 
    t.teacher_id,
    t.name,
    t.birth,
    t.phone,
    t.store_name,
    t.status,
    b.b_name AS statusName,
	LISTAGG(c.class_name, ', ') WITHIN GROUP (ORDER BY c.class_name) AS classNames
  FROM tb_teacher t
  LEFT JOIN tb_class c ON t.class_id = c.class_id AND c.status IN ('END')
  LEFT JOIN tb_b_code b ON t.status = b.b_code AND b.a_code = 'TEACHER'
  WHERE 
    t.store_name = #{storeName}
    AND t.status = 'T_QUIT' 
 GROUP BY
  	t.teacher_id,
    t.name,
    t.birth,
    t.phone,
    t.store_name,
    t.status,
    statusName  
 ORDER BY t.name ASC 
</select>
	<select id="getTeacherById" parameterType="int" resultType="TeacherDto">
		SELECT * 
		FROM tb_teacher
		WHERE teacher_id=#{teacherId}
	</select>
	<insert id="insert" parameterType="TeacherDto">
		INSERT INTO tb_teacher
		(teacher_id, name, store_name, phone, salary, status, birth)
		VALUES(teacher_seq.NEXTVAL, #{name}, #{storeName}, #{phone}, #{salary}, #{status}, #{birth})
	</insert>	
	<update id="update" parameterType="TeacherDto">
		UPDATE tb_teacher
		SET name=#{name}, phone=#{phone}, store_name=#{storeName} salary=#{salary}, status=#{status}, birth=#{birth}
		WHERE teacher_id=#{teacherId}
	</update>
	<!--  
	<delete id="delete" parameterType="int">
		DELETE FROM tb_teacher
		WHERE teacherid=#{teacherId}
	</delete>	
	-->
</mapper>